elza/elza-ws-api/src/main/resources/wsdl/elza-core-v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ElzaCoreService" targetNamespace="http://elza.tacr.cz/ws/core/v1" xmlns:eat="http://elza.tacr.cz/ws/types/v1" xmlns:tns="http://elza.tacr.cz/ws/core/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:import namespace="http://elza.tacr.cz/ws/types/v1" location="elza-api-types-v1.xsd"/>
	<wsdl:types/>
	<wsdl:message name="Did">
		<wsdl:documentation>Description of material/level of description</wsdl:documentation>
		<wsdl:part name="did" type="eat:did"/>
	</wsdl:message>
	<wsdl:message name="EmptyMessage">
		<wsdl:documentation>Empty message is used in function without return value to prevent asynchronous processing.</wsdl:documentation>
	</wsdl:message>
	<wsdl:message name="CoreServiceException">
		<wsdl:part name="errorDescription" type="eat:errorDescription"/>
	</wsdl:message>
	<wsdl:message name="RequestRevoked">
		<wsdl:part name="requestRevoked" type="eat:requestRevoked"/>
	</wsdl:message>
	<wsdl:message name="RequestIdentifier">
		<wsdl:part name="requestIdentifier" type="eat:identifier"/>
	</wsdl:message>
	<wsdl:message name="DigitizationRequestResult">
		<wsdl:part name="digitizationRequestResult" type="eat:digitizationRequestResult"/>
	</wsdl:message>
	<wsdl:message name="DaoImport">
		<wsdl:part name="daoImport" type="eat:daoImport"/>
	</wsdl:message>
	<wsdl:message name="Identifier">
		<wsdl:part name="PackageIdentifier" type="eat:identifier"/>
	</wsdl:message>
	<wsdl:message name="DaoPackage">
		<wsdl:part name="daoPackage" type="eat:daoPackage"/>
	</wsdl:message>
	<wsdl:message name="DaoLink">
		<wsdl:part name="daoLink" type="eat:daoLink"/>
	</wsdl:message>
	<wsdl:portType name="DaoService">
		<wsdl:operation name="Import">
			<wsdl:documentation>Import one or more packages. Import will also create corresponding links to described material.</wsdl:documentation>
			<wsdl:input name="daoImport" message="tns:DaoImport"/>
			<wsdl:output name="emptyMessage" message="tns:EmptyMessage"/>
			<wsdl:fault name="coreServiceException" message="tns:CoreServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="AddPackage">
			<wsdl:input name="daoPackage" message="tns:DaoPackage"/>
			<wsdl:output name="daoAddedPackageIdentifier" message="tns:Identifier">
				<wsdl:documentation>Identifier in the target system of added package.</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="coreServiceException" message="tns:CoreServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="RemovePackage">
			<wsdl:documentation>Remove package by internal ID</wsdl:documentation>
			<wsdl:input name="daoRemovePackageIdentifier" message="tns:Identifier">
				<wsdl:documentation>ID of package in the system</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="emptyMessageRemovePackage" message="tns:EmptyMessage"/>
			<wsdl:fault name="coreServiceException" message="tns:CoreServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="Link">
			<wsdl:input name="daoLink" message="tns:DaoLink"/>
			<wsdl:output name="emptyMessageLink" message="tns:EmptyMessage"/>
			<wsdl:fault name="coreServiceException" message="tns:CoreServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="GetDid">
			<wsdl:documentation>Return current description of given did.
Function will throw error if didIdentifier is not valid.</wsdl:documentation>
			<wsdl:input name="didIdentifier" message="tns:Identifier"/>
			<wsdl:output name="did" message="tns:Did">
				<wsdl:documentation>Return did for given identifier</wsdl:documentation>
			</wsdl:output>
			<wsdl:fault name="coreServiceException" message="tns:CoreServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="RemoveDao">
			<wsdl:documentation>Remove digital archival object from system. Throw exception if digital archival object does not exists in the system.</wsdl:documentation>
			<wsdl:input name="daoRemoveIdentifier" message="tns:Identifier">
				<wsdl:documentation>ELZA internal identifier of given DAO</wsdl:documentation>
			</wsdl:input>
			<wsdl:output name="emptyMessageRemoveDao" message="tns:EmptyMessage"/>
			<wsdl:fault name="coreServiceException" message="tns:CoreServiceException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DaoRequestsService">
		<wsdl:operation name="TransferRequestFinished">
			<wsdl:input name="requestTransferIdentifier" message="tns:RequestIdentifier"/>
			<wsdl:output name="emptyMessageTransferFinished" message="tns:EmptyMessage"/>
			<wsdl:fault name="coreServiceException" message="tns:CoreServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="TransferRequestRevoked">
			<wsdl:input name="requestTransferRevoked" message="tns:RequestRevoked"/>
			<wsdl:output name="emptyMessageTransferRevoked" message="tns:EmptyMessage"/>
			<wsdl:fault name="coreServiceException" message="tns:CoreServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="DestructionRequestFinished">
			<wsdl:input name="requestDestructionIdentifier" message="tns:RequestIdentifier"/>
			<wsdl:output name="emptyMessageDestructionFinished" message="tns:EmptyMessage"/>
			<wsdl:fault name="coreServiceException" message="tns:CoreServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="DestructionRequestRevoked">
			<wsdl:input name="requestDestructionRevoked" message="tns:RequestRevoked"/>
			<wsdl:output name="emptyMessageDestructionRevoked" message="tns:EmptyMessage"/>
			<wsdl:fault name="coreServiceException" message="tns:CoreServiceException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="DaoDigitizationService">
		<wsdl:documentation>Digitization service has two methods for notification about result of digitization request. For each request exactly one of these methods have to be called.</wsdl:documentation>
		<wsdl:operation name="DigitizationRequestRevoked">
			<wsdl:documentation>Function to revoke some digitization request.</wsdl:documentation>
			<wsdl:input name="requestDigitizationRevoked" message="tns:RequestRevoked"/>
			<wsdl:output name="emptyMessageDigitizationRevoked" message="tns:EmptyMessage"/>
			<wsdl:fault name="coreServiceException" message="tns:CoreServiceException"/>
		</wsdl:operation>
		<wsdl:operation name="DigitizationRequestFinished">
			<wsdl:documentation>Function for importing result of digitization request.</wsdl:documentation>
			<wsdl:input name="digitizationRequestResult" message="tns:DigitizationRequestResult"/>
			<wsdl:output name="emptyMessageDigitizationFinished" message="tns:EmptyMessage"/>
			<wsdl:fault name="coreServiceException" message="tns:CoreServiceException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DaoRequestsService" type="tns:DaoRequestsService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="DestructionRequestFinished">
			<soap:operation soapAction="DestructionRequestFinished" style="document"/>
			<wsdl:input name="requestDestructionIdentifier">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessageDestructionFinished">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="coreServiceException">
				<soap:fault name="coreServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DestructionRequestRevoked">
			<soap:operation soapAction="DestructionRequestRevoked" style="document"/>
			<wsdl:input name="requestDestructionRevoked">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessageDestructionRevoked">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="coreServiceException">
				<soap:fault name="coreServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="TransferRequestFinished">
			<soap:operation soapAction="TransferRequestFinished" style="document"/>
			<wsdl:input name="requestTransferIdentifier">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessageTransferFinished">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="coreServiceException">
				<soap:fault name="coreServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="TransferRequestRevoked">
			<soap:operation soapAction="TransferRequestRevoked" style="document"/>
			<wsdl:input name="requestTransferRevoked">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessageTransferRevoked">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="coreServiceException">
				<soap:fault name="coreServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DaoDigitizationService" type="tns:DaoDigitizationService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="DigitizationRequestFinished">
			<soap:operation soapAction="DigitizationRequestFinished" style="document"/>
			<wsdl:input name="digitizationRequestResult">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessageDigitizationFinished">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="coreServiceException">
				<soap:fault name="coreServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="DigitizationRequestRevoked">
			<soap:operation soapAction="DigitizationRequestRevoked" style="document"/>
			<wsdl:input name="requestDigitizationRevoked">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessageDigitizationRevoked">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="coreServiceException">
				<soap:fault name="coreServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DaoService" type="tns:DaoService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetDid">
			<wsdl:documentation>Return current description of given did.
Function will throw error if didIdentifier is not valid.</wsdl:documentation>
			<soap:operation soapAction="GetDid" style="document"/>
			<wsdl:input name="didIdentifier">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="did">
				<wsdl:documentation>Return did for given identifier</wsdl:documentation>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="coreServiceException">
				<soap:fault name="coreServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RemoveDao">
			<wsdl:documentation>Remove digital archival object from system. Throw exception if digital archival object does not exists in the system.</wsdl:documentation>
			<soap:operation soapAction="RemoveDao" style="document"/>
			<wsdl:input name="daoRemoveIdentifier">
				<wsdl:documentation>ELZA internal identifier of given DAO</wsdl:documentation>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessageRemoveDao">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="coreServiceException">
				<soap:fault name="coreServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AddPackage">
			<soap:operation soapAction="AddPackage" style="document"/>
			<wsdl:input name="daoPackage">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="daoAddedPackageIdentifier">
				<wsdl:documentation>Identifier in the target system of added package.</wsdl:documentation>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="coreServiceException">
				<soap:fault name="coreServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Import">
			<wsdl:documentation>Import one or more packages. Import will also create corresponding links to described material. If this method is used each package need to have specified fundIdentifier for each daoPackage.</wsdl:documentation>
			<soap:operation soapAction="Import" style="document"/>
			<wsdl:input name="daoImport">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessage">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="coreServiceException">
				<soap:fault name="coreServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Link">
			<soap:operation soapAction="Link" style="document"/>
			<wsdl:input name="daoLink">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessageLink">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="coreServiceException">
				<soap:fault name="coreServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RemovePackage">
			<wsdl:documentation>Remove package</wsdl:documentation>
			<soap:operation soapAction="RemovePackage" style="document"/>
			<wsdl:input name="daoRemovePackageIdentifier">
				<wsdl:documentation>ID of package in given system</wsdl:documentation>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="emptyMessageRemovePackage">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="coreServiceException">
				<soap:fault name="coreServiceException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CoreService">
		<wsdl:port name="DaoRequestsService" binding="tns:DaoRequestsService">
			<soap:address location="http://elza.tacr.cz/ws/core/v1/dao-service/requests"/>
		</wsdl:port>
		<wsdl:port name="DaoDigitizationService" binding="tns:DaoDigitizationService">
			<soap:address location="http://elza.tacr.cz/ws/core/v1/dao-service/digitization"/>
		</wsdl:port>
		<wsdl:port name="DaoCoreService" binding="tns:DaoService">
			<soap:address location="http://elza.tacr.cz/ws/core/v1/dao-service/core"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
