elza-core/src/main/resources/wsdl/interpi/interpi.ws.soap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://tempuri.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
            <s:element name="authUsers">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="sAuthUser" type="s:string"/>
                        <s:element minOccurs="0" name="sAuthUserPwd" type="s:string"/>
                        <s:element minOccurs="0" name="sUser" type="s:string"/>
                        <s:element minOccurs="0" name="sPwd" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="authUsersResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="authUsersResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="findData">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="sQuery" type="s:string"/>
                        <s:element minOccurs="0" name="sQuerySort" type="s:string"/>
                        <s:element minOccurs="0" name="sFrom" type="s:string"/>
                        <s:element minOccurs="0" name="sTo" type="s:string"/>
                        <s:element minOccurs="0" name="sUser" type="s:string"/>
                        <s:element minOccurs="0" name="sPwd" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="findDataResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="findDataResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="getOneRecord">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="sT001" type="s:string"/>
                        <s:element minOccurs="0" name="sUser" type="s:string"/>
                        <s:element minOccurs="0" name="sPwd" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="getOneRecordResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="getOneRecordResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="writeOneRecord">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="sT001" type="s:string"/>
                        <s:element minOccurs="0" name="sData" type="s:string"/>
                        <s:element minOccurs="0" name="sUser" type="s:string"/>
                        <s:element minOccurs="0" name="sPwd" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="writeOneRecordResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="writeOneRecordResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="authUsersSoapIn">
        <part name="parameters" element="s0:authUsers"/>
    </message>
    <message name="authUsersSoapOut">
        <part name="parameters" element="s0:authUsersResponse"/>
    </message>
    <message name="findDataSoapIn">
        <part name="parameters" element="s0:findData"/>
    </message>
    <message name="findDataSoapOut">
        <part name="parameters" element="s0:findDataResponse"/>
    </message>
    <message name="getOneRecordSoapIn">
        <part name="parameters" element="s0:getOneRecord"/>
    </message>
    <message name="getOneRecordSoapOut">
        <part name="parameters" element="s0:getOneRecordResponse"/>
    </message>
    <message name="writeOneRecordSoapIn">
        <part name="parameters" element="s0:writeOneRecord"/>
    </message>
    <message name="writeOneRecordSoapOut">
        <part name="parameters" element="s0:writeOneRecordResponse"/>
    </message>
    <portType name="wssoapSoap">
        <operation name="authUsers">
            <input message="s0:authUsersSoapIn"/>
            <output message="s0:authUsersSoapOut"/>
        </operation>
        <operation name="findData">
            <input message="s0:findDataSoapIn"/>
            <output message="s0:findDataSoapOut"/>
        </operation>
        <operation name="getOneRecord">
            <input message="s0:getOneRecordSoapIn"/>
            <output message="s0:getOneRecordSoapOut"/>
        </operation>
        <operation name="writeOneRecord">
            <input message="s0:writeOneRecordSoapIn"/>
            <output message="s0:writeOneRecordSoapOut"/>
        </operation>
    </portType>
    <binding name="wssoapSoap" type="s0:wssoapSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="authUsers">
            <soap:operation soapAction="http://tempuri.org/cust.interpi.ws.soap.authUsers" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findData">
            <soap:operation soapAction="http://tempuri.org/cust.interpi.ws.soap.findData" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getOneRecord">
            <soap:operation soapAction="http://tempuri.org/cust.interpi.ws.soap.getOneRecord" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="writeOneRecord">
            <soap:operation soapAction="http://tempuri.org/cust.interpi.ws.soap.writeOneRecord" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="wssoap">
        <port name="wssoapSoap" binding="s0:wssoapSoap">
            <soap:address location="https://195.113.132.114:443/csp/interpi/cust.interpi.ws.soap.cls"/>
        </port>
    </service>
</definitions>