elza-core/src/main/resources/interpi/interpi_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.interpi.cz" xmlns="http://www.interpi.cz" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>
    INTERPI – Interoperabilita v paměťových institucích
    Projekt financován z Programu aplikovaného výzkumu a vývoje národní a kulturní identity (NAKI) (DF11P01OVV023)
    Verze: 2.2
    </xs:documentation>
  </xs:annotation>

<!-- hlavní prvek pro koleci -->
  <xs:element name="set" type="setTyp">
    <xs:annotation>
      <xs:documentation>Hlavní prvek struktury. Obsahuje soubor záznamů entit.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="setTyp">
    <xs:annotation>
      <xs:documentation>Komplexní typ pro hlavní prvek struktury. Může obsahovat jeden nebo více záznamů entit.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="unbounded" minOccurs="1">
      <xs:element name="entita" type="entitaTyp"/>
    </xs:sequence>
  </xs:complexType>

<!-- hlavní prvek pro entitu -->
  <xs:element name="entita" type="entitaTyp">
    <xs:annotation>
      <xs:documentation>Hlavní prvek popisu jedné entity.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType mixed="true" name="entitaTyp">
    <xs:annotation>
      <xs:documentation>Komplexní typ pre popis jedné entity, obsahuje přímo základní identifikaci entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="1" minOccurs="1" name="trida" type="tridaTyp"/>
      <xs:element maxOccurs="1" minOccurs="1" name="podtrida" type="podtridaTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="identifikace" type="identifikaceTyp"/>
      <xs:element maxOccurs="1" minOccurs="1" name="zaznam" type="zaznamTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="preferovane_oznaceni" type="oznaceniTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="variantni_oznaceni" type="oznaceniTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="udalost" type="udalostTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="pocatek_existence" type="udalostTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="konec_existence" type="udalostTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="zmena" type="udalostTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="popis" type="popisTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="souradnice" type="souradniceTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="titul" type="titulTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="kodovane_udaje" type="kodovaneTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="souvisejici_entita" type="souvisejiciTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="hierarchicka_struktura" type="strukturaTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="zarazeni" type="zarazeniTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="vyobrazeni" type="vyobrazeniTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="zdroj_informaci" type="zdrojTyp"/>
    </xs:sequence>
  </xs:complexType>

<!-- třída-->
  <xs:simpleType name="tridaTyp">
    <xs:annotation>
      <xs:documentation>Každá entita musí být zařazená do třídy.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:enumeration value="osoba/bytost"/>
        <xs:enumeration value="korporace"/>
        <xs:enumeration value="rod/rodina"/>
        <xs:enumeration value="dílo/výtvor"/>
        <xs:enumeration value="geografický objekt"/>
        <xs:enumeration value="událost"/>
        <xs:enumeration value="obecný pojem"/>
    </xs:restriction>
  </xs:simpleType>

<!-- podtřída -->
  <xs:simpleType name="podtridaTyp">
    <xs:annotation>
      <xs:documentation>Každá entita musí být zařazena do podtřídy, která je vymezena pro danou třídu.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="autorská a umělecká díla"/>
      <xs:enumeration value="všeobecně známé dokumenty, smlouvy, zákony, předpisy, normy"/>
      <xs:enumeration value="vyznamenání, ceny, soutěžní trofeje"/>
      <xs:enumeration value="výrobky a jejich typová označení, obchodní značky, odrůdy, plemena vytvořená člověkem"/>
      <xs:enumeration value="názvy společenských, dětských her"/>
      <xs:enumeration value="programy, projekty, granty"/>
      <xs:enumeration value="stavby, trasy, zásahy do přírodních útvarů s vlastním jménem nebo jinou identifikací"/>
      <xs:enumeration value="administrativně či jinak lidmi vymezená území"/>
      <xs:enumeration value="administrativně vymezené části přírody"/>
      <xs:enumeration value="vymezené obvody a správní celky"/>
      <xs:enumeration value="geomorfologické útvary na dně moře"/>
      <xs:enumeration value="geomorfologické útvary na zemském povrchu"/>
      <xs:enumeration value="vodstvo a vodní plocha, vodní tok"/>
      <xs:enumeration value="pojmenované útvary"/>
      <xs:enumeration value="pojmenované trvalé klimatické jevy"/>
      <xs:enumeration value="Vesmír a jeho části"/>
      <xs:enumeration value="administrativně vymezená území s vlastní správou"/>
      <xs:enumeration value="orgány, organizační složky a příspěvkové organizace veřejné správy"/>
      <xs:enumeration value="sdružení organizací"/>
      <xs:enumeration value="vojenské a bezpečnostní jednotky"/>
      <xs:enumeration value="organizace založené za účelem podnikání"/>
      <xs:enumeration value="politické organizace"/>
      <xs:enumeration value="náboženské organizace a instituce"/>
      <xs:enumeration value="kulturní, výchovné, výzkumné a zdravotnické organizace a instituce"/>
      <xs:enumeration value="nadace a nadační fondy"/>
      <xs:enumeration value="profesní a zájmové organizace"/>
      <xs:enumeration value="spolky, společenské organizace"/>
      <xs:enumeration value="pojmenované části korporací"/>
      <xs:enumeration value="fyzická osoba"/>
      <xs:enumeration value="fiktivní fyzická osoba"/>
      <xs:enumeration value="bytost"/>
      <xs:enumeration value="zvíře"/>
      <xs:enumeration value="nepojmenované objekty a jejich fyzické části"/>
      <xs:enumeration value="kategorie a skupiny nepojmenovaných osob"/>
      <xs:enumeration value="kategorie a skupiny nepojmenovaných korporací"/>
      <xs:enumeration value="materiály a techniky"/>
      <xs:enumeration value="formy a žánry"/>
      <xs:enumeration value="systematická nomenklatura"/>
      <xs:enumeration value="abstraktní entity"/>
      <xs:enumeration value="organizované akce a události"/>
      <xs:enumeration value="ozbrojené střety (bitvy, války, obléhání…)"/>
      <xs:enumeration value="lidové zvyky, významné dny a svátky"/>
      <xs:enumeration value="dočasné přírodní jevy"/>
      <xs:enumeration value="rodina, rod"/>
      <xs:enumeration value="větev rodu"/>
      <xs:enumeration value="fiktivní rod"/>
    </xs:restriction>
  </xs:simpleType>

<!-- identifikace -->
  <xs:complexType name="identifikaceTyp">
    <xs:annotation>
       <xs:documentation>Entita musí mít uvedeno minimálně jedno identifikační číslo. Přimárně se uvádi identifikační číslo INTERPI (v případě prezentace záznamů ze znalostní báze INTERPI pro jiné systémy). V jiných případech, kdy je prezentován záznam jiného systému pro znalostní bázi INTEPRI musí záznam obsahovat jiný identifikátor (primárně standardní čísla, čísla národních systému a pod.). V nevyhnutných případech je možné jako jiný identifikátor uvést systémové číslo jiného spoluprajícího systému (instituce). Označení systému ze zapíše do příslušného prvku, jako typ identifikátoru se uvede "systémové číslo".</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="unbounded" minOccurs="0" name="identifikator" type="identifikatorTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="identifikator_jiny" type="identifikator_jinyTyp"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="identifikatorTyp">
    <xs:annotation>
       <xs:documentation>Identifikační číslo INTERPI se uvádí povinně a je generováno systémem pro zpracování entit. Záznam může obsahovat více identifikačních čísel INTERPI, a to v případě, že nahrazuje jiný zrušený záznam (takéto identifikační číslo INTERPI sa označuje ako INTERPI alternativní).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="typ" type="identifikatorTypA" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="identifikatorTypA">
    <xs:annotation>
       <xs:documentation>Číselník typů identifikátorů INTERPI.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:enumeration value="INTERPI"/>
        <xs:enumeration value="INTERPI alternativní"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="identifikator_jinyTyp">
    <xs:annotation>
       <xs:documentation>Entita může mít uvedeny identifikační čísla různých systému a to s ohledem na potřebu kooperece a sdílení dat. Alespoň jeden identifikátor je nutné uvést v případě, že není možné uvést identifikační číslo INTERPI (tj. v případě prezentace dat jiného systému pro INTERPI - zakládání nového záznamu).</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element maxOccurs="1" minOccurs="1" name="identifikator_cislo" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="kooperujici_system" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="druh_zaznamu" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="typ" type="identifikator_jinyTypA" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="identifikator_jinyTypA">
    <xs:annotation>
       <xs:documentation>Číselník typů jiných identifikátorů.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:enumeration value="muzejní autority"/>
        <xs:enumeration value="národní autority"/>
        <xs:enumeration value="IČO"/>
        <xs:enumeration value="kód_cz"/>
        <xs:enumeration value="ČSÚ"/>
        <xs:enumeration value="SŠÚ"/>
        <xs:enumeration value="VIAF"/>
        <xs:enumeration value="ISNI"/>
        <xs:enumeration value="systémové číslo"/>
    </xs:restriction>
  </xs:simpleType>

<!-- záznam -->
  <xs:complexType name="zaznamTyp">
    <xs:annotation>
       <xs:documentation>Údaje o záznamu entity. Převážně služební informace včetně jazyku zpracování entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="1" minOccurs="1" name="stav" type="stavTyp"/>
      <xs:element maxOccurs="1" minOccurs="1" name="jazyk" type="jazykTyp"/>
      <xs:element maxOccurs="1" minOccurs="1" name="historie_zaznamu" type="historie_zaznamuTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="souhlas" type="souhlasTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="poznamka" type="poznamkaTyp"/>
    </xs:sequence>
  </xs:complexType>

<!-- stav záznamu entity -->
  <xs:simpleType name="stavTyp">
    <xs:annotation>
       <xs:documentation>Určuje stav zpracování entity podle žitovního cyklu záznamu.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:enumeration value="rozpracovaný návrh"/>
        <xs:enumeration value="dokončený návrh"/>
        <xs:enumeration value="rozpracovaná revize"/>
        <xs:enumeration value="dokončená revize"/>
        <xs:enumeration value="schválený záznam"/>
        <xs:enumeration value="zrušený záznam"/>
        <xs:enumeration value="bez revize INTERPI"/>
    </xs:restriction>
  </xs:simpleType>

<!-- historie záznamu -->
  <xs:complexType name="historie_zaznamuTyp">
    <xs:annotation>
       <xs:documentation>Historie záznamu - přehled datací změn záznamu a zpracovatelů.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="unbounded" minOccurs="1" name="souvisejici_entita" type="souvisejiciZpracTyp"/>
      <xs:element maxOccurs="1" minOccurs="1" name="datace" type="presne_datumTyp"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="presne_datumTyp">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>

<!-- souhlas s poskytnutím údajů -->
  <xs:complexType name="souhlasTyp">
    <xs:annotation>
       <xs:documentation>Do záznamu se ukládá informace o datu a formě poskytnutí souhlasu fyzické osoby se zpracováním osobních údajů v případě, že se souhlas vyžaduje.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="1" minOccurs="1" name="forma_poskytnuti" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="datace" type="presne_datumTyp"/>
    </xs:sequence>
  </xs:complexType>

<!-- poznámka -->
  <xs:complexType name="poznamkaTyp">
    <xs:annotation>
       <xs:documentation>Poznámka k záznamu.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="typ" type="poznamkaTypA" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="poznamkaTypA">
    <xs:restriction base="xs:string">
        <xs:enumeration value="veřejná poznámka"/>
        <xs:enumeration value="neveřejná poznámka"/>
    </xs:restriction>
  </xs:simpleType>

<!-- označení -->
  <xs:complexType name="oznaceniTyp">
    <xs:annotation>
       <xs:documentation>Struktura označení entity. Označení je základní vlastnost každé entity. Rozlišuje se preferované a variantní označení. Každá entita musí mít určeno alespoň jedno označení. Označení se zapisují s ohledem na pravidla, podle kterých se vytváří. Označení se zapisuje také s ohledem na jeho časovou platnost a jazyk, ve kterém je zapsáno. Každá třída entit má určeno, které typy označení se považují za preferované a které za variantní. Pravidla pro tvorbu označení jsou uvedeny v Metodice.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="unbounded" minOccurs="1" name="pravidla" type="pravidlaTyp"/>
      <xs:element maxOccurs="1" minOccurs="1" name="hlavni_cast" type="hlavni_castTyp"/>
      <xs:element maxOccurs="1" minOccurs="0" name="vedlejsi_cast" type="vedlejsi_castTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="doplnek" type="doplnekTyp"/>
      <xs:element maxOccurs="1" minOccurs="0" name="datace" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="jazyk" type="jazykTyp"/>
      <xs:element maxOccurs="1" minOccurs="0" name="poznamka" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="cislo_zdroje" type="cislo_zdrojeTyp"/>
    </xs:sequence>
    <xs:attribute name="typ" type="oznaceni_typTypA" use="optional"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="oznaceni_typTypA">
    <xs:annotation>
       <xs:documentation>Typ označení je vymezen pro každou třídu entit.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:enumeration value="úřední / skutečné / světské jméno / jméno za svobodna"/>
        <xs:enumeration value="jméno, pod nímž je entita nejvíce známá"/>
        <xs:enumeration value="akronym / zkratka"/>
        <xs:enumeration value="autorská šifra"/>
        <xs:enumeration value="pseudonym"/>
        <xs:enumeration value="církevní jméno"/>
        <xs:enumeration value="jméno získané sňatkem"/>
        <xs:enumeration value="historická podoba jména"/>
        <xs:enumeration value="přímé pořadí"/>
        <xs:enumeration value="jméno úřední"/>
        <xs:enumeration value="jméno preferované entitou"/>
        <xs:enumeration value="historická / dřívější forma jména"/>
        <xs:enumeration value="jediný známý tvar jména v daném období"/>
        <xs:enumeration value="uměle vytvořené označení"/>
        <xs:enumeration value="singulár"/>
        <xs:enumeration value="plurál"/>
        <xs:enumeration value="přejatý termín"/>
        <xs:enumeration value="zastaralý, historický termín"/>
        <xs:enumeration value="nevhodný termín"/>
        <xs:enumeration value="užší termín"/>
        <xs:enumeration value="odborný termín"/>
        <xs:enumeration value="invertovaná podoba"/>
        <xs:enumeration value="antonymum"/>
        <xs:enumeration value="homonymum"/>
    </xs:restriction>
  </xs:simpleType>

<!-- typ - forma hlavní části označení -->
  <xs:complexType name="hlavni_castTyp">
    <xs:annotation>
       <xs:documentation>Typ hlavní části označení - vymezené podle potřeby v konkrétní třídě. Určuje především formu zápisu označení.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="typ" type="hlavni_castTypA" use="optional"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="hlavni_castTypA">
    <xs:annotation>
       <xs:documentation>Číselník typů hlavní části označení.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:enumeration value="příjmení"/>
        <xs:enumeration value="jméno"/>
        <xs:enumeration value="jurisdikce"/>
        <xs:enumeration value="nadřazená korporace"/>
        <xs:enumeration value="příme pořadí"/>
    </xs:restriction>
  </xs:simpleType>

<!-- typ - forma vedlejší části označení -->
  <xs:complexType name="vedlejsi_castTyp">
    <xs:annotation>
       <xs:documentation>Typ vedlejší části označení - vymezené podle potřeby v konkrétní třídě.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="typ" type="vedlejsi_castTypA" use="optional"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="vedlejsi_castTypA">
    <xs:annotation>
       <xs:documentation>Číselník typů hlavní části označení.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:enumeration value="číselné označení"/>
        <xs:enumeration value="obsazení hudebního díla"/>
        <xs:enumeration value="tónina hudebního díla"/>
        <xs:enumeration value="údaj o aranžmá hudebního díla"/>
        <xs:enumeration value="název části díla/výtvoru"/>
    </xs:restriction>
  </xs:simpleType>

<!-- typ doplňku -->
  <xs:complexType name="doplnekTyp">
    <xs:annotation>
       <xs:documentation>Typ doplňku - vymezené podle potřeby v konkrétní třídě.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="typ" type="doplnekTypA" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="doplnekTypA">
    <xs:annotation>
       <xs:documentation>Číselník typů doplňků.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:enumeration value="rozpis iniciál"/>
        <xs:enumeration value="obecný doplněk"/>
        <xs:enumeration value="římské číslice"/>
        <xs:enumeration value="geografický doplněk"/>
        <xs:enumeration value="chronologický doplněk"/>
        <xs:enumeration value="pořadí události"/>
        <xs:enumeration value="jazyk díla"/>
        <xs:enumeration value="autor/tvůrce"/>
        <xs:enumeration value="pramen/zdroj"/>
        <xs:enumeration value="chronologický doplněk/verze díla"/>
    </xs:restriction>
  </xs:simpleType>

<!-- pravidla -->
  <xs:simpleType name="pravidlaTyp">
    <xs:annotation>
       <xs:documentation>Metodika tvorby znalostního modelu je průnikem různých pravidel využívaných v paměťových institucích. Pokud se pravidla pro formu zápisu konkrétních vlastností entit v jednotlivých komunitách odlišují natolik, že nebylo možné průnik najít, je možné uvést vlastnost tolikrát, kolik různých pohledů je potřeba vytvořit. V takovém případě se spolu s vlastností uvede i podle jakých pravidel byla vytvořena. Číselník podporovaných pravidel je možno rozšířit podle potřeb kooperace.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:enumeration value="INTERPI"/>
        <xs:enumeration value="AACR2"/>
        <xs:enumeration value="RDA"/>
        <xs:enumeration value="ZP"/>
        <xs:enumeration value="EUROVOC"/>
        <xs:enumeration value="PSH"/>
        <xs:enumeration value="ČTT"/>
    </xs:restriction>
  </xs:simpleType>

<!-- komplexní vztah - událost -->
  <xs:complexType name="udalostTyp">
    <xs:annotation>
       <xs:documentation>Událost představuje komplexní vztah v popisu entity. Je tvořena souborem propojení na jiné entity. Obvykle se odehrává na nějakém místě, za přítomnosti různých osob, v průběhu popsané události, s přičiněním korporace apod. Událost je tak tvořena propojením na více typů entit v různých rolích, datací a poznámkou.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="unbounded" minOccurs="0" name="souvisejici_entita" type="souvisejiciTyp"/>
      <xs:element maxOccurs="2" minOccurs="0" name="datace" type="komplexni_dataceTyp"/>
      <xs:element maxOccurs="1" minOccurs="0" name="poznamka" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="cislo_zdroje" type="cislo_zdrojeTyp"/>
    </xs:sequence>
    <xs:attribute name="typ" type="udalostTypA" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="udalostTypA">
    <xs:annotation>
       <xs:documentation>Číselník typů událostí.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:enumeration value="narození"/>
        <xs:enumeration value="úmrtí"/>
        <xs:enumeration value="členství"/>
        <xs:enumeration value="významné aktivity"/>
        <xs:enumeration value="uzavření nebo ukončení manželství"/>
        <xs:enumeration value="zaměstnání"/>
        <xs:enumeration value="studium"/>
        <xs:enumeration value="udělení ocenění"/>
        <xs:enumeration value="změna jména/identity"/>
        <xs:enumeration value="první písemná zmínka"/>
        <xs:enumeration value="narození prvního známého člena rodu/rodiny"/>
        <xs:enumeration value="poslední písemná zmínka"/>
        <xs:enumeration value="úmrtí posledního známého člena rodu/rodiny"/>
        <xs:enumeration value="zřízení, založení"/>
        <xs:enumeration value="zapsání"/>
        <xs:enumeration value="odštěpení"/>
        <xs:enumeration value="zrušení, likvidace"/>
    <xs:enumeration value="rozpuštění"/>
        <xs:enumeration value="konkurs"/>
        <xs:enumeration value="výmaz z evidence"/>
        <xs:enumeration value="sloučení"/>
        <xs:enumeration value="rozejítí se"/>
        <xs:enumeration value="změna majitele"/>
        <xs:enumeration value="přesun na jiné místo"/>
        <xs:enumeration value="změna nadřazené korporace"/>
        <xs:enumeration value="členství"/>
        <xs:enumeration value="udělení ocenění"/>
        <xs:enumeration value="počátek působení"/>
        <xs:enumeration value="konec působení"/>
        <xs:enumeration value="vznik"/>
        <xs:enumeration value="zánik"/>
        <xs:enumeration value="změna majitele, držitele"/>
        <xs:enumeration value="historické mílníky"/>
        <xs:enumeration value="začátek"/>
        <xs:enumeration value="konec"/>
        <xs:enumeration value="vydání"/>
        <xs:enumeration value="první realizace"/>
        <xs:enumeration value="počátek platnosti"/>
        <xs:enumeration value="zničení, zánik"/>
        <xs:enumeration value="ukončení vydávání"/>
        <xs:enumeration value="poslední realizace"/>
        <xs:enumeration value="poslední zmínka"/>
        <xs:enumeration value="úprava, změna"/>
        <xs:enumeration value="změna vlastnictví, správy"/>
        <xs:enumeration value="změna umístění/uložení"/>
        <xs:enumeration value="konec platnosti"/>
    </xs:restriction>
  </xs:simpleType>

<!-- komplexní datace -->
  <xs:complexType name="komplexni_dataceTyp">
    <xs:annotation>
       <xs:documentation>Komplexní datace obsahuje úplné informace o dataci, které umožňují zobrazení poznámky pro uživatele i zabezpečení parametrizovaného vyhledávání podle data. Datace je tvořena dvěma částmi: začátek, konec. Každá část se zapisuje jednak jako text, který se zobrazí uživateli, kromě toho je doporučeno uvádět dataci i ve tvaru vhodném pro vyhledávání ve vymezení od-do.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="1" minOccurs="1" name="text_datace" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="datum_od" type="datumTyp"/>
      <xs:element maxOccurs="1" minOccurs="0" name="datum_do" type="datumTyp"/>
      <xs:element maxOccurs="1" minOccurs="0" name="poznamka" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="typ" type="komplexni_dataceTypA" use="optional"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="komplexni_dataceTypA">
    <xs:restriction base="xs:string">
      <xs:enumeration value="začátek"/>
      <xs:enumeration value="konec"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="datumTyp">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
      <xs:pattern value="[0-9]{4}-[0-9]{2}"/>
      <xs:pattern value="[0-9]{4}"/>
      <xs:pattern value="-[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
      <xs:pattern value="-[0-9]{4}-[0-9]{2}"/>
      <xs:pattern value="-[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>

<!-- číselník jazyků -->
  <xs:simpleType name="jazykTyp">
    <xs:restriction base="xs:string">
        <xs:enumeration value="aar"/>
        <xs:enumeration value="abk"/>
        <xs:enumeration value="ace"/>
        <xs:enumeration value="afr"/>
        <xs:enumeration value="akk"/>
        <xs:enumeration value="alb"/>
        <xs:enumeration value="ale"/>
        <xs:enumeration value="amh"/>
        <xs:enumeration value="ara"/>
        <xs:enumeration value="arc"/>
        <xs:enumeration value="arm"/>
        <xs:enumeration value="arn"/>
        <xs:enumeration value="asm"/>
        <xs:enumeration value="ava"/>
        <xs:enumeration value="aze"/>
        <xs:enumeration value="bak"/>
        <xs:enumeration value="bal"/>
        <xs:enumeration value="bam"/>
        <xs:enumeration value="ban"/>
        <xs:enumeration value="baq"/>
        <xs:enumeration value="bel"/>
        <xs:enumeration value="ben"/>
        <xs:enumeration value="bre"/>
        <xs:enumeration value="bua"/>
        <xs:enumeration value="bul"/>
        <xs:enumeration value="bur"/>
        <xs:enumeration value="cat"/>
        <xs:enumeration value="ceb"/>
        <xs:enumeration value="cop"/>
        <xs:enumeration value="cor"/>
        <xs:enumeration value="cos"/>
        <xs:enumeration value="cze"/>
        <xs:enumeration value="dan"/>
        <xs:enumeration value="day"/>
        <xs:enumeration value="del"/>
        <xs:enumeration value="dgr"/>
        <xs:enumeration value="doi"/>
        <xs:enumeration value="dut"/>
        <xs:enumeration value="egy"/>
        <xs:enumeration value="eng"/>
        <xs:enumeration value="epo"/>
        <xs:enumeration value="esk"/>
        <xs:enumeration value="est"/>
        <xs:enumeration value="fao"/>
        <xs:enumeration value="fin"/>
        <xs:enumeration value="fre"/>
        <xs:enumeration value="fry"/>
        <xs:enumeration value="geo"/>
        <xs:enumeration value="ger"/>
        <xs:enumeration value="gez"/>
        <xs:enumeration value="gla"/>
        <xs:enumeration value="gle"/>
        <xs:enumeration value="glg"/>
        <xs:enumeration value="got"/>
        <xs:enumeration value="grc"/>
        <xs:enumeration value="gre"/>
        <xs:enumeration value="guj"/>
        <xs:enumeration value="hau"/>
        <xs:enumeration value="haw"/>
        <xs:enumeration value="heb"/>
        <xs:enumeration value="hin"/>
        <xs:enumeration value="hit"/>
        <xs:enumeration value="hrv"/>
        <xs:enumeration value="hun"/>
        <xs:enumeration value="che"/>
        <xs:enumeration value="chi"/>
        <xs:enumeration value="chu"/>
        <xs:enumeration value="chv"/>
        <xs:enumeration value="chy"/>
        <xs:enumeration value="ice"/>
        <xs:enumeration value="ile"/>
        <xs:enumeration value="ina"/>
        <xs:enumeration value="ind"/>
        <xs:enumeration value="ita"/>
        <xs:enumeration value="jav"/>
        <xs:enumeration value="jpn"/>
        <xs:enumeration value="kas"/>
        <xs:enumeration value="kaz"/>
        <xs:enumeration value="khm"/>
        <xs:enumeration value="kho"/>
        <xs:enumeration value="kir"/>
        <xs:enumeration value="kor"/>
        <xs:enumeration value="kur"/>
        <xs:enumeration value="lao"/>
        <xs:enumeration value="lat"/>
        <xs:enumeration value="lav"/>
        <xs:enumeration value="lit"/>
        <xs:enumeration value="ltz"/>
        <xs:enumeration value="mac"/>
        <xs:enumeration value="mal"/>
        <xs:enumeration value="mao"/>
        <xs:enumeration value="mar"/>
        <xs:enumeration value="mas"/>
        <xs:enumeration value="may"/>
        <xs:enumeration value="mlt"/>
        <xs:enumeration value="mni"/>
        <xs:enumeration value="mol"/>
        <xs:enumeration value="mon"/>
        <xs:enumeration value="nep"/>
        <xs:enumeration value="nor"/>
        <xs:enumeration value="nub"/>
        <xs:enumeration value="oci"/>
        <xs:enumeration value="oss"/>
        <xs:enumeration value="ota"/>
        <xs:enumeration value="pan"/>
        <xs:enumeration value="peo"/>
        <xs:enumeration value="per"/>
        <xs:enumeration value="phn"/>
        <xs:enumeration value="pol"/>
        <xs:enumeration value="por"/>
        <xs:enumeration value="pus"/>
        <xs:enumeration value="roh"/>
        <xs:enumeration value="rom"/>
        <xs:enumeration value="rum"/>
        <xs:enumeration value="rus"/>
        <xs:enumeration value="sah"/>
        <xs:enumeration value="san"/>
        <xs:enumeration value="sat"/>
        <xs:enumeration value="scc"/>
        <xs:enumeration value="sco"/>
        <xs:enumeration value="scr"/>
        <xs:enumeration value="sin"/>
        <xs:enumeration value="slo"/>
        <xs:enumeration value="slv"/>
        <xs:enumeration value="smo"/>
        <xs:enumeration value="snd"/>
        <xs:enumeration value="som"/>
        <xs:enumeration value="spa"/>
        <xs:enumeration value="srp"/>
        <xs:enumeration value="sux"/>
        <xs:enumeration value="swa"/>
        <xs:enumeration value="swe"/>
        <xs:enumeration value="syr"/>
        <xs:enumeration value="tah"/>
        <xs:enumeration value="tam"/>
        <xs:enumeration value="tat"/>
        <xs:enumeration value="tel"/>
        <xs:enumeration value="tgk"/>
        <xs:enumeration value="tha"/>
        <xs:enumeration value="tib"/>
        <xs:enumeration value="tuk"/>
        <xs:enumeration value="tur"/>
        <xs:enumeration value="uig"/>
        <xs:enumeration value="ukr"/>
        <xs:enumeration value="urd"/>
        <xs:enumeration value="uzb"/>
        <xs:enumeration value="vie"/>
        <xs:enumeration value="vol"/>
        <xs:enumeration value="wel"/>
        <xs:enumeration value="wen"/>
        <xs:enumeration value="yid"/>
    </xs:restriction>
  </xs:simpleType>

<!-- suvisejicí entita -->
  <xs:complexType name="souvisejiciTyp">
    <xs:annotation>
       <xs:documentation>Součástí popisu entity je i vyjádření jednoduchého vztahu k jiným entitám. Jednoduchý vztah se tvoří prpojením na jinou entitu s uvedením role související entity, datace vztahu a poznámky.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="unbounded" minOccurs="1" name="identifikator" type="identifikator_souvTyp"/>
      <xs:element maxOccurs="1" minOccurs="1" name="trida" type="tridaTyp"/>
      <xs:element maxOccurs="1" minOccurs="1" name="preferovane_oznaceni" type="oznaceniTyp"/>
      <xs:element maxOccurs="1" minOccurs="0" name="poznamka" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="role" type="roleTypA" use="required"></xs:attribute>
  </xs:complexType>

<!-- číselník rolí -->
  <xs:simpleType name="roleTypA">
    <xs:annotation>
       <xs:documentation>Role související entity vyjadřuje charakter vztahu mezi entitami - pokud je možné, měla by být role uvedena u každého vztahu. Role jsou vymezeny v Metodice při jednotlivých třídách.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
        <xs:enumeration value="bratr"/>
        <xs:enumeration value="sestra"/>
        <xs:enumeration value="další rodinné vztahy"/>
        <xs:enumeration value="jiná entita reprezentující tutéž osobu"/>
        <xs:enumeration value="člen rodiny/rodu"/>
        <xs:enumeration value="členská organizace"/>
        <xs:enumeration value="člen"/>
        <xs:enumeration value="místo"/>
        <xs:enumeration value="sídlo"/>
        <xs:enumeration value="manžel"/>
        <xs:enumeration value="manželka"/>
        <xs:enumeration value="zaměstnavatel"/>
        <xs:enumeration value="spolupracovník"/>
        <xs:enumeration value="nadřízený"/>
        <xs:enumeration value="škola"/>
        <xs:enumeration value="pracoviště"/>
        <xs:enumeration value="ceremoniál ocenění"/>
        <xs:enumeration value="udělené ocenění"/>
        <xs:enumeration value="udělovatel"/>
        <xs:enumeration value="otec"/>
        <xs:enumeration value="matka"/>
        <xs:enumeration value="jiný předek"/>
        <xs:enumeration value="nadžízená korporace"/>
        <xs:enumeration value="je část..."/>
        <xs:enumeration value="majitel"/>
        <xs:enumeration value="předchůdce"/>
        <xs:enumeration value="nástupce"/>
        <xs:enumeration value="dokument"/>
        <xs:enumeration value="umístění"/>
        <xs:enumeration value="pojmenováno po"/>
        <xs:enumeration value="majitel"/>
        <xs:enumeration value="písemná zmínka"/>
        <xs:enumeration value="zmínka o existenci"/>
        <xs:enumeration value="součást, celek"/>
        <xs:enumeration value="autor/tvůrce"/>
        <xs:enumeration value="související entita"/>
        <xs:enumeration value="nadřazená entita"/>
        <xs:enumeration value="podřazená entita"/>
        <xs:enumeration value="jiný"/>
    </xs:restriction>
  </xs:simpleType>

<!-- identifikátor související entity -->
  <xs:complexType name="identifikator_souvTyp">
    <xs:annotation>
       <xs:documentation>Pro vytvoření odkazu na související entitu je potřebné uvést identifikátor související entity. Nabídka povolených identifikátorů je omezena na identifikátory národních systémů.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="typ" type="identifikator_souvTypA" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="identifikator_souvTypA">
    <xs:restriction base="xs:string">
        <xs:enumeration value="INTERPI"/>
        <xs:enumeration value="muzejní autority"/>
        <xs:enumeration value="národní autority"/>
    </xs:restriction>
  </xs:simpleType>

<!-- související entita pro autora popisu -->
  <xs:complexType name="souvisejiciPracTyp">
    <xs:annotation>
       <xs:documentation>Typ pro související entity jako autor popisu.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="unbounded" minOccurs="1" name="identifikator" type="identifikator_souvTyp"/>
      <xs:element maxOccurs="1" minOccurs="1" name="preferovane_oznaceni" type="oznaceniTyp"/>
    </xs:sequence>
    <xs:attribute name="role" type="rolePracTypA" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="rolePracTypA">
    <xs:restriction base="xs:string">
        <xs:enumeration value="autor"/>
    </xs:restriction>
  </xs:simpleType>

<!-- související entita pro zpracovatele záznamu -->
  <xs:complexType name="souvisejiciZpracTyp">
    <xs:annotation>
       <xs:documentation>Typ pro zpracovatele záznamu (zatím bez odkazu na entitu).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="role" type="roleZpracTypA" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="roleZpracTypA">
    <xs:restriction base="xs:string">
        <xs:enumeration value="zpracovatel"/>
    </xs:restriction>
  </xs:simpleType>

<!-- související entita v minimální podobě -->
  <xs:complexType name="souvisejici_minTyp">
    <xs:annotation>
       <xs:documentation>Některé typy popisu (zařazení, hierarchická struktura a pod.) je možné zapsat formou odkazu na entitu. V tomto případě je související entita zapsaná v menším rozsahu.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="unbounded" minOccurs="1" name="identifikator" type="identifikator_souvTyp"/>
      <xs:element maxOccurs="1" minOccurs="1" name="preferovane_oznaceni" type="oznaceniTyp"/>
    </xs:sequence>
  </xs:complexType>

<!-- popis entity -->
  <xs:complexType name="popisTyp">
    <xs:annotation>
       <xs:documentation>Záznam entity může obsahovat narativně tvořený popis entity různého typu a rozsahu. Na existující popisy entit je možno odkázat s uvedením zdroje nebo vložením propojením na webovou stránku. U popisu je možné uvést autora popisu.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
       <xs:element maxOccurs="unbounded" minOccurs="0" name="souvisejici_entita" type="souvisejiciPracTyp"/>
       <xs:element maxOccurs="1" minOccurs="1" name="text_popisu" type="xs:string"/>
       <xs:element maxOccurs="unbounded" minOccurs="0" name="cislo_zdroje" type="cislo_zdrojeTyp"/>
    </xs:sequence>
    <xs:attribute name="typ" type="popisTypA" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="popisTypA">
    <xs:restriction base="xs:string">
        <xs:enumeration value="životopis"/>
        <xs:enumeration value="stručná charakteristika"/>
        <xs:enumeration value="historie"/>
        <xs:enumeration value="genealogie"/>
        <xs:enumeration value="funkce"/>
        <xs:enumeration value="normy konstitutivní"/>
        <xs:enumeration value="normy - působnost původce"/>
        <xs:enumeration value="vnitřní struktura"/>
        <xs:enumeration value="popis"/>
        <xs:enumeration value="geografický popis"/>
        <xs:enumeration value="účel a využití"/>
        <xs:enumeration value="definice"/>
        <xs:enumeration value="pokyny k použití"/>
    </xs:restriction>
  </xs:simpleType>

<!-- tituly -->
  <xs:complexType name="titulTyp">
    <xs:annotation>
       <xs:documentation>Tituly související se jménem.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="typ" type="titulTypA" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="titulTypA">
    <xs:restriction base="xs:string">
        <xs:enumeration value="tituly před jménem"/>
        <xs:enumeration value="tituly za jménem"/>
        <xs:enumeration value="šlechtické tituly"/>
    </xs:restriction>
  </xs:simpleType>

<!-- kódované údaje -->
  <xs:complexType name="kodovaneTyp">
    <xs:annotation>
       <xs:documentation>Kódované údaje se používají pro vyjádření entity pomocí standardizovaných kódů. Kódovaný údaj nemusí vystihovat entitu úplně přesně. Pokud je to možné, uvede se přesný kódovaných údaj, v jiném případě se zvolí kódovaný údaj pro širší oblast, která entitu zahrnuje.</xs:documentation>
    </xs:annotation>
     <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="1" minOccurs="1" name="kod" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="datace" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="poznámka" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="typ" type="kodovaneTypA" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="kodovaneTypA">
    <xs:restriction base="xs:string">
        <xs:enumeration value="kód země (MARC21)"/>
        <xs:enumeration value="kód země (ISO 3166)"/>
        <xs:enumeration value="MDT"/>
        <xs:enumeration value="skupina konspektu"/>
    </xs:restriction>
  </xs:simpleType>

<!-- hierarchická struktura -->
  <xs:complexType name="strukturaTyp">
    <xs:annotation>
       <xs:documentation>Hierarchická struktura je specifická vlatnost pro třídu geografický objekt. Vychází z požadavku komunity archivů, uvádět úplnou hierarchickou strukturu - umístění entity. Hierarchická struktura se zapisuje jako pořadí nadřazených prvků s tím, že se začína nejvyšší úrovní (stát) a pokračuje úrovněmi: kraj, okres, obec, místní část.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="1" minOccurs="1" name="souvisejici_entita" type="souvisejici_minTyp"/>
      <xs:element maxOccurs="1" minOccurs="0" name="poznamka" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="typ" type="strukturaTypA" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="strukturaTypA">
    <xs:restriction base="xs:integer">
        <xs:minInclusive value="1"/>
        <xs:maxInclusive value="10"/>
    </xs:restriction>
  </xs:simpleType>

<!-- souřadnice -->
  <xs:complexType name="souradniceTyp">
    <xs:annotation>
       <xs:documentation>Vlastnost specifická pro třídu geografický objekt, která umožňuje zápis souřadnic s ní souvisejících. Pro vymezení centra oblasti se použije jeden bod. Pro vymezení lineárních útvarů (řeky, trasy) je doporučeno použít minimální počet souřadnic - např. počáteční a koncový bod. Pro vymezení geografické oblasti čtyři souřadnice. Pro vymezení polygonu neomezený počet bodů na obvodu.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="1" minOccurs="0" name="pouzity_system" type="souradnice_systemTyp"/>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="udaje_souradnic" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="poznamka" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="typ" type="souradniceTypA" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="souradniceTypA">
    <xs:restriction base="xs:string">
        <xs:enumeration value="centrum oblasti"/>
        <xs:enumeration value="lineární útvar"/>
        <xs:enumeration value="geografická oblast"/>
        <xs:enumeration value="polygon"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="souradnice_systemTyp">
    <xs:restriction base="xs:string">
        <xs:enumeration value="S-JTSK"/>
        <xs:enumeration value="ETRS"/>
        <xs:enumeration value="WGS84"/>
        <xs:enumeration value="S-42/83"/>
    </xs:restriction>
  </xs:simpleType>

<!-- zařazení -->
  <xs:complexType name="zarazeniTyp">
    <xs:annotation>
       <xs:documentation>Zařazení je vyjádření charakteristiky entity pomocí jednoduchých slov nebo slovních spojení - v zásadě propojením na obecný pojem. Typy zařazení jsou vymezeny pro jednotlivé třídy.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="1" minOccurs="0" name="souvisejici_entita" type="souvisejici_minTyp"/>
      <xs:element maxOccurs="1" minOccurs="0" name="text_zarazeni" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="datace" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="typ" type="zarazeniTypA" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="zarazeniTypA">
    <xs:restriction base="xs:string">
        <xs:enumeration value="obor působnosti"/>
        <xs:enumeration value="pohlaví"/>
        <xs:enumeration value="příslušnost k zemi"/>
        <xs:enumeration value="určení jazykové oblasti"/>
        <xs:enumeration value="kategorie"/>
        <xs:enumeration value="geografická působnost"/>
        <xs:enumeration value="charakteristika"/>
        <xs:enumeration value="téma"/>
        <xs:enumeration value="téma/účel"/>
        <xs:enumeration value="obor"/>
    </xs:restriction>
  </xs:simpleType>

<!-- vyobrazení -->
  <xs:complexType name="vyobrazeniTyp">
    <xs:annotation>
       <xs:documentation>Informace o vyobrazení, které reprezentuje entitu.</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="1" minOccurs="1" name="popis" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="historie" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="URL" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="datace" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="poznámka" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="typ" type="vyobrazeniTypA" use="required"></xs:attribute>
  </xs:complexType>

  <xs:simpleType name="vyobrazeniTypA">
    <xs:restriction base="xs:string">
        <xs:enumeration value="osobní erb"/>
        <xs:enumeration value="fotografie nebo jiné vyobrazení osoby"/>
        <xs:enumeration value="osobní pečeť"/>
        <xs:enumeration value="erb"/>
        <xs:enumeration value="logo"/>
        <xs:enumeration value="značka"/>
        <xs:enumeration value="symbol"/>
        <xs:enumeration value="vlajka"/>
        <xs:enumeration value="jiné"/>
    </xs:restriction>
  </xs:simpleType>

<!-- zdroj informaci -->
  <xs:complexType name="zdrojTyp">
    <xs:annotation>
       <xs:documentation>Zdroj informací o entitě se uvádí k celému záznamu nebo ke konkrétním vlastnosti. Zdroj se uvádí v podobě stráčného standardizovaného popisu. Pokud se většina informací vybírá z obecně dostupných zdrojů, nebo jedinečného zdroje, není potřeba uvádět zdroj každé vlasnosti. Pro zmenšení objemu dat se zdroj u vlastnosti uvádí pouze jako číslo zdroje, kterým je identifikován při jeho popisu</xs:documentation>
    </xs:annotation>
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element maxOccurs="1" minOccurs="1" name="cislo_zdroje" type="cislo_zdrojeTyp"/>
      <xs:element maxOccurs="1" minOccurs="1" name="standardizovany_popis" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="cislo_zdrojeTyp">
    <xs:annotation>
       <xs:documentation>Identifikační číslo zdroje - využívá se pro popojení popisu zdroje s použití u konkrétní vlastnosti.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
        <xs:minInclusive value="1"/>
        <xs:maxInclusive value="99"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>